<div class="border | rounded-md | border-l-4 | border-l-blue-500 | drop-shadow-sm | p-5 | max-w-[235px]">
    <div>
        <div>
            <img src="#">
            <div>
                <h4>Name of Position</h4>
                <h4>Recruiter Name</h4>
                <h4>Location</h4>
            </div>
        </div>
    
        <div>
            <div>
                <button>PHP 250 per day</button>
                <button>Free Food</button>
            </div>
            <div>
                <img src="#">
                <p>Actively Recruiting</p>
            </div> 
            <div class="flex | gap-[10px]">
                <%- include('../../components/button/button-save.ejs'); %>
                <%- include('../../components/button/button-web.ejs'); %>
                <%- include('../../components/button/button-katulad.ejs'); %>
            </div>
            <%- include('../../components/button/button-impormasyon.ejs'); %>
        </div>

    </div>
</div>