<div class="w-full | bg-green-200 | 2xl:px-[15rem] | px-[2rem] | py-[4rem]">
    <div class="grid | place-items-center | lg:place-items-stretch | gap-[30px] lg:flex | h-full">
        <!-- Left Section -->
        <div class="bg-red-200 | flex | flex-col | gap-[2rem] | justify-center">
            <p class="font-inter | font-normal | text-[16px] | self-center">Sort by : <strong>relevance </strong> &verbar; <strong>1-30</strong> of 251 jobs</p>
            
            <div class="grid | gap-[2rem] | place-items-center">
                <% jobInformation.forEach(function(jobInformation) { %> <%- 
                    include('../../components/card-listing/job-feed-card', {jobInformation}) %> <% }); %>
            </div>

            <div class="flex | justify-between">
                <button class="primary-button">Prev</button>
                <button class="primary-button | flex | gap-[10px] | items-center | px-[12px]"> 1 <img src="/assets/images/listing-icons/arrow-down.svg"></button>
                <button class="primary-button">Next</button>
            </div>
        </div>

        <!-- Right Section -->
        <div class="bg-yellow-100 | w-full | hidden | lg:grid | drop-shadow-sm | border-gray-300 | border-[1px] | rounded-[6px] | p-[1.875rem]">
            <div class="w-[324px] | h-[175px] bg-gray-400">
                <img>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>
</div>

    <!-- right part -->
    <div
      class="right | hidden sm:hidden | md:block | lg:block | w-50 | m-10 | mt-4"
    >
      <div
        class="bg-white | w-[850px] | xl:h-[1650px] lg:h-[2330px] | md:h-[2720px] | px-3 | m-5 | shadow-lg | rounded-lg | md:w-[350px] | lg:w-[530px] | xl:w-[830px]"
      >
        <div class="mb-5">
          <img
            src="https://teb.cdn.seekasia.com/ph/4f24e19040f33f8b33aa5670a37816bf55e3457748c4012b4f09864f02406c16.jpg"
            alt=""
          />
        </div>
        <div class="text-blue-600 | font-extrabold | text-2xl">
          Name of Position
        </div>
        <div class="text-blue-400 | font-semibold">Recruiter Name</div>
        <div class="mb-5 | font-medium">Location</div>

        <div class="flex | mt-10 | mb-5">
          <div class="mr-1 | mt-1">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.92251 1.69995C5.15101 1.69995 6.14501 2.69745 6.14501 3.92245V6.14495H3.92251C2.69401 6.14495 1.70001 5.14745 1.70001 3.92245C1.70001 2.69395 2.69751 1.69995 3.92251 1.69995Z"
                stroke="#12AF22"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M3.92251 9.85498H6.14501V12.0775C6.14501 13.306 5.14751 14.3 3.92251 14.3C2.69401 14.3 1.70001 13.3025 1.70001 12.0775C1.70001 10.849 2.69751 9.85498 3.92251 9.85498Z"
                stroke="#12AF22"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12.0775 1.69995C13.306 1.69995 14.3 2.69745 14.3 3.92245C14.3 5.15095 13.3025 6.14495 12.0775 6.14495H9.85501V3.92245C9.85501 2.69395 10.8525 1.69995 12.0775 1.69995Z"
                stroke="#12AF22"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M6.14502 6.14502H7.35252H9.85502V9.85502H7.41202H7.00952H6.14502V6.14502Z"
                stroke="#12AF22"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9.85501 9.85498H12.0775C13.306 9.85498 14.3 10.8525 14.3 12.0775C14.3 13.306 13.3025 14.3 12.0775 14.3C10.849 14.3 9.85501 13.3025 9.85501 12.0775V9.85498Z"
                stroke="#12AF22"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="text-green | font-semibold | ml-1">
            Actively Recruiting
          </div>
        </div>

        <div class="xl:w-[600px] lg:w-[500px] | md:p-4 | grid | md:w-[300px] md:grid-cols-1 | lg:grid-cols-2 | xl:grid-cols-4">
          <div class="mr-1 | md:mr-0 | lg:mr-1 | mb-2 flex justify-center bg-red | rounded-sm | text-white ">PHP 250 per day</div>
          <div class="mx-1 | md:mx-0 | xl:mx-2 | mb-2 flex justify-center bg-red | rounded-sm | text-white | md:ml-0">Free Food</div>
          <div class="md:mx-0 | xl:mx-2 | lg:mr-1 | mb-2  | flex | justify-center bg-red | rounded-sm | text-white">Arawan</div>
          <div class="ml-1 md:ml-0 mb-2  flex justify-center bg-red | rounded-sm | text-white ">Isang Buwan</div>
        </div>

        <div class="my-10">
            <p>
                Ikaw ba ay isang bihasang at dedikadong manggagawa sa konstruksyon na naghahanap ng isang kahanga-hangang pagkakataon na maging bahagi ng isang dinamikong koponan sa konstruksyon? Huwag nang maghanap pa! Sumali sa aming pangungunang kumpanya sa konstruksyon habang binabaybay namin ang mga bagong proyekto na nagbibigay ng tunay na impact sa aming komunidad.
            </p>

            <div class="flex | my-5"><p><h1 class="font-bold">Posisyon</h1>: Manggagawa sa Konstruksyon</p></div>

            <div class=""><p class="font-bold">Mga Responsibilidad sa Trabaho:</p></div>
            <div class="my-5">
                <ul>
                    <li>
                        Isagawa ang iba't ibang mga gawain sa konstruksyon, kabilang ang paghuhukay, pagbuhos ng kongkreto, paggawa ng balangkas, pagtutukod ng bubong, at pagtatapos ng trabaho.
                    </li>
                    <li>
                        Nang ligtas na gamitin ang iba't ibang mga kagamitan at kagamitang pangkonstruksyon.
                    </li>
                    <li>
                        Makipagtulungan sa mga supervisoryo at kasapi ng koponan upang matiyak na ang mga layunin ng proyekto ay maabot nang mabilis at maaayos.
                    </li>
                    <li>
                        Panatilihing malinis at maayos ang lugar ng trabaho upang masiguro ang kaligtasan at produktibidad.
                    </li>
                </ul>
            </div>

            <div class=""><p class="font-bold">Mga Kinakailangan:</p></div>
            <div class="my-5">
                <ul>
                    <li>
                        Napatunayang karanasan bilang manggagawa sa konstruksyon na may matibay na rekord ng matagumpay na mga proyekto.
                    </li>
                    <li>
                        Kasanayan sa paggamit ng mga kagamitan at kagamitang pangkonstruksyon.
                    </li>
                    <li>
                        Kaalaman sa mga patakaran at regulasyon sa kaligtasan sa konstruksyon. 
                    </li>
                    <li>
                        Kakayahan sa pagtatrabaho nang maayos sa isang koponan at pag-aayos sa mga pagbabago sa mga pangangailangan ng proyekto.
                    </li>
                    <li>
                        Malakas na etika sa trabaho, mapagkakatiwalaan, at may dedikasyon sa pagsunod sa mga takdang panahon.
                    </li>
                </ul>
            </div>

            <div class=""><p class="font-bold">Benepisyo:</p></div>
            <div class="my-5">
                <ul>
                    <li>
                        Kompetisyong sahod na may regular na pagtatasa base sa performance.
                    </li>
                    <li>
                        Mga pagkakataon para sa pag-unlad at pag-akyat sa karera.
                    </li>
                    <li>
                        Suportadong at inklusibong kapaligiran sa trabaho. 
                    </li>
                    <li>
                        Malawakang benepisyo sa kalusugan at seguro.
                    </li>
                </ul>
            </div>
        </div>

        <div class="mt-5 | mb-2 | grid | md:grid-cols-1 | xl:grid-cols-2 | lg:grid-cols-1 | lg:mx-10 | xl:mx-auto ">
            <img src="https://www.bria.com.ph/wp-content/uploads/2023/03/House-construction.png" alt="" class="w-[390px] h-[300px] | mr-3 |lg:my-2 | md:my-2">
            <img src="https://image.cnbcfm.com/api/v1/image/106811484-1608045351058-gettyimages-1126750618-dsc_1540.jpeg?v=1608045431" alt="" class="w-[390px] | h-[300px] | ml-3 | lg:my-2 lg:ml-0 md:ml-0 | md:my-2">
        </div>

        <div class="xl:w-[650px] | lg:w-[500px] | md:p-4 | md:ml-3 lg:ml-1 | grid | md:w-[300px] md:grid-cols-1 | lg:grid-cols-1 | xl:grid-cols-3">
            <button class="xl:mr-0 | xl:w-[160px] | mb-2 | flex | justify-center | bg-blue-500 | rounded-md | text-white | p-1">Mag-Apply Na</button>
            <button class="xl:w-[140px] | md:mx-0 | mb-2 | flex justify-center | bg-blue-500 | rounded-md | text-white | md:ml-0 | text-center | p-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="none" class="mt-1 | mr-2">
                    <path d="M11.7907 9.74405V16.2L6.77998 13.348L1.76929 16.2V3.40005C1.76929 2.51605 2.45605 1.80005 3.30395 1.80005H9.1472" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11.7905 1.80005V7.07205" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.24683 4.43604H14.2307" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <h1>I-save</h1>
            </button>
            <button class="text-center| p-1 | mx-1 | md:mx-0 | mb-2 | flex | justify-center | bg-blue-500 | rounded-md | text-white">Tumingin ng mga Katulad</button>
          </div>
        
      </div>
    </div>
  </div>