<div class="container mx-auto p-2 lg:py-[75px] flex flex-col justify-center font-inter">
  <h1 class="text-blue text-[32px] text-center justify-center">Come Work With Us</h1>
  <h1 class="py-[34px] font-bold text-[40px] leading-[53px] text-center max-w-[1099px] mx-auto">
    You can start a fulfilling career with us with incredible work life balance and career
    opportunity.
  </h1>

  <div class="flex justify-center">
    <!-- Added a div with 'flex' and 'justify-center' classes -->
    <button
      class="text-blue text-[20px] bg-transparent hover:bg-blue font-semibold hover:text-white px-[42.5px] border border-blue hover:border-transparent rounded max-w-[208px] h-[55px] justify-center whitespace-nowrap">
      Visit Careers
    </button>
  </div>
</div>