<section
  class="container | flex flex-col | mx-auto | mt-8 | p-2 | sm:p-3 | md:p-4 | lg:p-5 | xl:p-6 | md:grid | md:grid-cols-2 | md:gap-2 | font-assistant"
>
  <div>
    <h2 class="text-5xl | font-bold | mb-5">
      Isa ang hanap sa mga umuusbong na start up na garantisadong nakakatulong
      sa nakakarami
    </h2>
    <p class="mb-5 max-w-md">
      Mabilis at garantisadong trabaho ba ang hanap mo? Trabahador na
      mapagkakatiwalaan malapit sainyo? Halina’t tara maghalungkat sa aming
      website
    </p>
  </div>

  <div class="flex justify-center md:justify-end">
    <svg
      width="427"
      height="356"
      viewBox="0 0 427 356"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M220.514 96.6817H79.0012C74.9913 96.6817 72.2078 93.5981 72.7837 89.7919L84.1664 14.4372C84.7423 10.6309 88.4572 7.54728 92.4671 7.54728H233.98C237.989 7.54728 240.773 10.6309 240.197 14.4372L228.814 89.7919C228.238 93.5981 224.524 96.6817 220.514 96.6817Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M231.445 7.06217H95.3641C89.8551 7.06217 85.3892 11.324 85.3892 16.5812V87.1661C85.3892 92.4233 89.8551 96.6851 95.3641 96.6851H231.445C236.954 96.6851 241.42 92.4233 241.42 87.1661V16.5812C241.42 11.324 236.954 7.06217 231.445 7.06217Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M222.593 12.9954H104.219C98.7105 12.9954 94.2445 17.2572 94.2445 22.5144V81.2295C94.2445 86.4867 98.7105 90.7485 104.219 90.7485H222.593C228.102 90.7485 232.568 86.4867 232.568 81.2295V22.5144C232.568 17.2572 228.102 12.9954 222.593 12.9954Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M89.9432 37.1457H89.9396C89.1935 37.1457 88.5887 37.7228 88.5887 38.4348V56.3906C88.5887 57.1025 89.1935 57.6797 89.9396 57.6797H89.9432C90.6892 57.6797 91.294 57.1025 91.294 56.3906V38.4348C91.294 37.7228 90.6892 37.1457 89.9432 37.1457Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M89.9396 66.5982C90.7544 66.5982 91.4149 65.9679 91.4149 65.1904C91.4149 64.4129 90.7544 63.7826 89.9396 63.7826C89.1248 63.7826 88.4644 64.4129 88.4644 65.1904C88.4644 65.9679 89.1248 66.5982 89.9396 66.5982Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M116.811 27.0975H109.474C107.106 27.0975 105.186 28.9292 105.186 31.1887V36.6572C105.186 38.9167 107.106 40.7484 109.474 40.7484H116.811C119.179 40.7484 121.098 38.9167 121.098 36.6572V31.1887C121.098 28.9292 119.179 27.0975 116.811 27.0975Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M142.377 27.0975H135.04C132.672 27.0975 130.753 28.9292 130.753 31.1887V36.6572C130.753 38.9167 132.672 40.7484 135.04 40.7484H142.377C144.745 40.7484 146.665 38.9167 146.665 36.6572V31.1887C146.665 28.9292 144.745 27.0975 142.377 27.0975Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M167.948 27.0975H160.611C158.243 27.0975 156.323 28.9292 156.323 31.1887V36.6572C156.323 38.9167 158.243 40.7484 160.611 40.7484H167.948C170.316 40.7484 172.235 38.9167 172.235 36.6572V31.1887C172.235 28.9292 170.316 27.0975 167.948 27.0975Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M193.514 27.0975H186.177C183.809 27.0975 181.89 28.9292 181.89 31.1887V36.6572C181.89 38.9167 183.809 40.7484 186.177 40.7484H193.514C195.882 40.7484 197.802 38.9167 197.802 36.6572V31.1887C197.802 28.9292 195.882 27.0975 193.514 27.0975Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M219.085 27.0975H211.747C209.38 27.0975 207.46 28.9292 207.46 31.1887V36.6572C207.46 38.9167 209.38 40.7484 211.747 40.7484H219.085C221.452 40.7484 223.372 38.9167 223.372 36.6572V31.1887C223.372 28.9292 221.452 27.0975 219.085 27.0975Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M116.811 48.198H109.474C107.106 48.198 105.186 50.0297 105.186 52.2892V57.7577C105.186 60.0172 107.106 61.8489 109.474 61.8489H116.811C119.179 61.8489 121.098 60.0172 121.098 57.7577V52.2892C121.098 50.0297 119.179 48.198 116.811 48.198Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M142.377 48.198H135.04C132.672 48.198 130.753 50.0297 130.753 52.2892V57.7577C130.753 60.0172 132.672 61.8489 135.04 61.8489H142.377C144.745 61.8489 146.665 60.0172 146.665 57.7577V52.2892C146.665 50.0297 144.745 48.198 142.377 48.198Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M167.948 48.198H160.611C158.243 48.198 156.323 50.0297 156.323 52.2892V57.7577C156.323 60.0172 158.243 61.8489 160.611 61.8489H167.948C170.316 61.8489 172.235 60.0172 172.235 57.7577V52.2892C172.235 50.0297 170.316 48.198 167.948 48.198Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M193.514 48.198H186.177C183.809 48.198 181.89 50.0297 181.89 52.2892V57.7577C181.89 60.0172 183.809 61.8489 186.177 61.8489H193.514C195.882 61.8489 197.802 60.0172 197.802 57.7577V52.2892C197.802 50.0297 195.882 48.198 193.514 48.198Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M219.085 48.198H211.747C209.38 48.198 207.46 50.0297 207.46 52.2892V57.7577C207.46 60.0172 209.38 61.8489 211.747 61.8489H219.085C221.452 61.8489 223.372 60.0172 223.372 57.7577V52.2892C223.372 50.0297 221.452 48.198 219.085 48.198Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M116.811 69.2986H109.474C107.106 69.2986 105.186 71.1302 105.186 73.3897V78.8582C105.186 81.1177 107.106 82.9494 109.474 82.9494H116.811C119.179 82.9494 121.098 81.1177 121.098 78.8582V73.3897C121.098 71.1302 119.179 69.2986 116.811 69.2986Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M142.377 69.2986H135.04C132.672 69.2986 130.753 71.1302 130.753 73.3897V78.8582C130.753 81.1177 132.672 82.9494 135.04 82.9494H142.377C144.745 82.9494 146.665 81.1177 146.665 78.8582V73.3897C146.665 71.1302 144.745 69.2986 142.377 69.2986Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M167.948 69.2986H160.611C158.243 69.2986 156.323 71.1302 156.323 73.3897V78.8582C156.323 81.1177 158.243 82.9494 160.611 82.9494H167.948C170.316 82.9494 172.235 81.1177 172.235 78.8582V73.3897C172.235 71.1302 170.316 69.2986 167.948 69.2986Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M193.514 69.2986H186.177C183.809 69.2986 181.89 71.1302 181.89 73.3897V78.8582C181.89 81.1177 183.809 82.9494 186.177 82.9494H193.514C195.882 82.9494 197.802 81.1177 197.802 78.8582V73.3897C197.802 71.1302 195.882 69.2986 193.514 69.2986Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M219.085 69.2986H211.747C209.38 69.2986 207.46 71.1302 207.46 73.3897V78.8582C207.46 81.1177 209.38 82.9494 211.747 82.9494H219.085C221.452 82.9494 223.372 81.1177 223.372 78.8582V73.3897C223.372 71.1302 221.452 69.2986 219.085 69.2986Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M118.99 17.9924C120.14 17.9924 121.073 17.1023 121.073 16.0044C121.073 14.9065 120.14 14.0165 118.99 14.0165C117.839 14.0165 116.907 14.9065 116.907 16.0044C116.907 17.1023 117.839 17.9924 118.99 17.9924Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M113.725 7.15038C113.729 7.10967 113.949 5.80361 114.674 4.57557C115.033 3.96156 115.517 3.36789 116.132 2.94045C116.75 2.51301 117.5 2.23484 118.496 2.23145C118.62 2.23145 118.745 2.23483 118.876 2.24501C119.559 2.29589 120.177 2.54355 120.753 2.9642C121.613 3.59179 122.346 4.62306 122.851 5.83752C123.355 7.0486 123.633 8.43269 123.633 9.73197C123.633 10.4342 123.551 11.1127 123.391 11.7267C123.149 12.6494 122.723 13.4161 122.136 13.9385C121.841 14.1997 121.507 14.4067 121.116 14.5491C120.725 14.6916 120.277 14.773 119.754 14.773C119.623 14.773 119.488 14.7662 119.345 14.7561C118.876 15.1462 118.883 15.5601 119.242 15.9875C119.417 16.0011 119.587 16.0078 119.754 16.0078C120.639 16.0078 121.436 15.8179 122.108 15.4685C122.612 15.2072 123.046 14.8578 123.405 14.4508C123.945 13.8401 124.322 13.1006 124.568 12.2966C124.813 11.4926 124.927 10.6208 124.927 9.73197C124.927 7.77796 124.386 5.72219 123.394 4.0769C122.897 3.25255 122.282 2.52997 121.542 1.9872C120.807 1.44442 119.936 1.08143 118.972 1.01697C118.809 1.0068 118.649 1.00002 118.496 1.00002C117.216 1.00002 116.15 1.39014 115.332 1.97362C114.717 2.40785 114.234 2.94384 113.853 3.49341C113.281 4.31775 112.936 5.17941 112.726 5.83752C112.517 6.49564 112.445 6.95701 112.442 6.97737L113.722 7.15376L113.725 7.15038Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M167.93 17.9924C169.08 17.9924 170.013 17.1023 170.013 16.0044C170.013 14.9065 169.08 14.0165 167.93 14.0165C166.78 14.0165 165.847 14.9065 165.847 16.0044C165.847 17.1023 166.78 17.9924 167.93 17.9924Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M162.665 7.15038C162.669 7.10967 162.889 5.80361 163.614 4.57557C163.973 3.96156 164.457 3.36789 165.072 2.94045C165.69 2.51301 166.44 2.23484 167.436 2.23145C167.56 2.23145 167.685 2.23483 167.816 2.24501C168.499 2.29589 169.117 2.54355 169.693 2.9642C170.553 3.59179 171.286 4.62306 171.791 5.83752C172.295 7.0486 172.573 8.43269 172.573 9.73197C172.573 10.4342 172.491 11.1127 172.331 11.7267C172.089 12.6494 171.663 13.4161 171.076 13.9385C170.781 14.1997 170.447 14.4067 170.056 14.5491C169.665 14.6916 169.217 14.773 168.694 14.773C168.563 14.773 168.428 14.7662 168.285 14.7561C167.816 15.1462 167.823 15.5601 168.182 15.9875C168.357 16.0011 168.527 16.0078 168.694 16.0078C169.579 16.0078 170.376 15.8179 171.048 15.4685C171.552 15.2072 171.986 14.8578 172.345 14.4508C172.885 13.8401 173.262 13.1006 173.508 12.2966C173.753 11.4926 173.867 10.6208 173.867 9.73197C173.867 7.77796 173.326 5.72219 172.334 4.0769C171.837 3.25255 171.222 2.52997 170.482 1.9872C169.746 1.44442 168.876 1.08143 167.912 1.01697C167.749 1.0068 167.589 1.00002 167.436 1.00002C166.156 1.00002 165.09 1.39014 164.272 1.97362C163.657 2.40785 163.173 2.94384 162.793 3.49341C162.221 4.31775 161.876 5.17941 161.666 5.83752C161.456 6.49564 161.385 6.95701 161.382 6.97737L162.662 7.15376L162.665 7.15038Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M216.87 17.9924C218.02 17.9924 218.953 17.1023 218.953 16.0044C218.953 14.9065 218.02 14.0165 216.87 14.0165C215.719 14.0165 214.787 14.9065 214.787 16.0044C214.787 17.1023 215.719 17.9924 216.87 17.9924Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M211.605 7.15038C211.609 7.10967 211.829 5.80361 212.554 4.57557C212.913 3.96156 213.397 3.36789 214.012 2.94045C214.63 2.51301 215.38 2.23484 216.376 2.23145C216.5 2.23145 216.625 2.23483 216.756 2.24501C217.439 2.29589 218.057 2.54355 218.633 2.9642C219.493 3.59179 220.226 4.62306 220.731 5.83752C221.235 7.0486 221.513 8.43269 221.513 9.73197C221.513 10.4342 221.431 11.1127 221.271 11.7267C221.029 12.6494 220.603 13.4161 220.016 13.9385C219.721 14.1997 219.387 14.4067 218.996 14.5491C218.605 14.6916 218.157 14.773 217.634 14.773C217.503 14.773 217.368 14.7662 217.225 14.7561C216.756 15.1462 216.763 15.5601 217.122 15.9875C217.297 16.0011 217.467 16.0078 217.634 16.0078C218.519 16.0078 219.316 15.8179 219.988 15.4685C220.492 15.2072 220.926 14.8578 221.285 14.4508C221.825 13.8401 222.202 13.1006 222.448 12.2966C222.693 11.4926 222.807 10.6208 222.807 9.73197C222.807 7.77796 222.266 5.72219 221.274 4.0769C220.777 3.25255 220.162 2.52997 219.422 1.9872C218.687 1.44442 217.816 1.08143 216.852 1.01697C216.689 1.0068 216.529 1.00002 216.376 1.00002C215.096 1.00002 214.03 1.39014 213.212 1.97362C212.597 2.40785 212.114 2.94384 211.733 3.49341C211.161 4.31775 210.816 5.17941 210.606 5.83752C210.397 6.49564 210.325 6.95701 210.322 6.97737L211.602 7.15376L211.605 7.15038Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M187.496 31.1208L190.198 34.425L193.578 29.3161"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M213.386 31.1208L216.088 34.425L219.469 29.3161"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M110.252 52.6285L112.954 55.9326L116.334 50.8237"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M136.139 52.6285L138.844 55.9326L142.221 50.8237"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M161.385 52.6285L164.091 55.9326L167.468 50.8237"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M187.276 52.6285L189.977 55.9326L193.358 50.8237"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M148.947 271.813H385.442C386.054 270.391 398.968 239.117 380.572 216.029C363.181 194.202 324.828 188.489 294.107 208.474C291.384 205.448 276.57 189.592 253.311 189.008C229.881 188.418 207.439 203.572 197.901 227.071C184.609 219.038 167.386 220.296 155.886 229.975C143.629 240.291 140.596 257.887 148.947 271.813Z"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M1 203.368V196.74L106.189 162.836L150.486 185.935L202.547 142.353L326.157 140.029L387.045 53.9854L369.996 48.7951V42.1664L409.576 29.3161L414.446 57.9307V64.5594L399.832 58.08L338.944 160.367L213.734 163.501L152.615 216.154L108.702 192.91L9.52461 239.904L1 203.368Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M1 196.74L106.189 156.208L150.486 179.306L202.547 135.724L326.157 133.401L387.045 47.3567L369.996 42.1664L409.576 22.6908L414.446 57.9307L399.832 51.4513L338.944 153.738L213.734 156.873L152.615 209.525L108.702 186.281L9.52461 233.275L1 196.74Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M134.041 271.287C132.641 268.929 131.24 266.571 129.843 264.21C128.176 261.402 126.469 258.487 126.121 255.275C125.769 252.062 127.138 248.446 130.198 247.069C132.445 246.058 135.381 246.292 137.052 244.541C139.409 242.072 137.294 237.943 138.631 234.856C139.662 232.475 142.68 231.267 145.353 231.634C148.026 232 150.34 233.642 152.121 235.579C153.796 237.404 155.157 239.84 154.492 242.18C153.739 244.847 150.579 246.577 150.294 249.325C150.099 251.211 151.354 252.948 152.729 254.315C154.105 255.679 155.708 256.927 156.519 258.657C158.026 261.866 156.227 265.781 153.341 267.966C150.454 270.15 146.739 271.012 143.152 271.813"
        fill="#1A1A1A"
      />
      <path
        d="M134.041 271.287C132.641 268.929 131.24 266.571 129.843 264.21C128.176 261.402 126.469 258.487 126.121 255.275C125.769 252.062 127.138 248.446 130.198 247.069C132.445 246.058 135.381 246.292 137.052 244.541C139.409 242.072 137.294 237.943 138.631 234.856C139.662 232.475 142.68 231.267 145.353 231.634C148.026 232 150.34 233.642 152.121 235.579C153.796 237.404 155.157 239.84 154.492 242.18C153.739 244.847 150.579 246.577 150.294 249.325C150.099 251.211 151.354 252.948 152.729 254.315C154.105 255.679 155.708 256.927 156.519 258.657C158.026 261.866 156.227 265.781 153.341 267.966C150.454 270.15 146.739 271.012 143.152 271.813"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M142.743 253.352C141.343 259.865 140.443 266.477 140.056 273.115"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M135.175 257.517C136.288 260.615 136.231 263.966 136.636 267.219C137.041 270.473 138.058 273.896 140.706 275.979"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M148.292 263.352C144.03 267.046 141.659 272.641 142.032 278.123"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M129.178 272.071C133.021 264.424 131.307 254.563 125.083 248.507C123.202 246.679 120.984 245.193 119.111 243.361C117.241 241.526 115.684 239.199 115.627 236.637C115.566 233.951 117.159 231.359 116.8 228.692C116.288 224.906 112.225 222.661 108.624 220.995C107.138 220.31 105.606 219.611 103.96 219.509C102.314 219.411 100.504 220.055 99.758 221.46C98.5386 223.746 100.519 226.952 98.7946 228.923C97.6108 230.28 95.3002 230.117 93.7076 229.218C92.115 228.319 90.9454 226.877 89.4879 225.792C86.157 223.309 81.2904 222.919 77.5258 224.757C73.7612 226.596 71.2621 230.534 71.1945 234.568C71.095 240.349 76.2176 245.746 82.2467 246.319C84.0739 246.492 85.9508 246.282 87.7283 246.726C89.5057 247.171 91.2369 248.565 91.1587 250.315C91.0556 252.622 88.2011 253.725 86.644 255.495C84.1805 258.298 85.3678 262.857 88.2295 265.289C91.0912 267.722 95.0691 268.505 98.8764 268.939C102.68 269.374 106.619 269.574 110.078 271.141C110.078 271.141 110.76 271.348 111.062 272.22"
        fill="white"
      />
      <path
        d="M129.178 272.071C133.021 264.424 131.307 254.563 125.083 248.507C123.202 246.679 120.984 245.193 119.111 243.361C117.241 241.526 115.684 239.199 115.627 236.637C115.566 233.951 117.159 231.359 116.8 228.692C116.288 224.906 112.225 222.661 108.624 220.995C107.138 220.31 105.606 219.611 103.96 219.509C102.314 219.411 100.504 220.055 99.758 221.46C98.5386 223.746 100.519 226.952 98.7946 228.923C97.6108 230.28 95.3002 230.117 93.7076 229.218C92.115 228.319 90.9454 226.877 89.4879 225.792C86.157 223.309 81.2904 222.919 77.5258 224.757C73.7612 226.596 71.2621 230.534 71.1945 234.568C71.095 240.349 76.2176 245.746 82.2467 246.319C84.0739 246.492 85.9508 246.282 87.7283 246.726C89.5057 247.171 91.2369 248.565 91.1587 250.315C91.0556 252.622 88.2011 253.725 86.644 255.495C84.1805 258.298 85.3678 262.857 88.2295 265.289C91.0912 267.722 95.0691 268.505 98.8764 268.939C102.68 269.374 106.619 269.574 110.078 271.141C110.078 271.141 110.76 271.348 111.062 272.22"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M99.1572 243.395C103.53 245.814 107.17 249.423 109.537 253.687C110.533 255.478 111.315 257.392 112.605 259.003C113.892 260.608 115.659 261.88 116.612 263.688C117.408 265.201 117.55 266.938 117.838 268.61C118.126 270.283 118.627 272.03 119.928 273.18"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M116.057 247.008C117.283 249.606 118.513 252.205 119.74 254.803C120.703 256.846 121.67 258.891 122.392 261.022C123.11 263.145 123.576 265.34 124.038 267.525C124.425 269.346 124.809 271.168 125.197 272.99"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M98.9617 255.57C100.405 256.924 101.848 258.277 103.292 259.631C105.023 261.252 106.758 262.881 108.293 264.672C110.945 267.762 112.989 271.324 114.283 275.12"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M83.2029 271.813H385.446C385.446 271.813 425.104 279.781 401.944 298.378C385.222 312.918 313.37 297.507 309.563 304.044C305.756 310.581 308.344 323.221 323.264 330.338C338.183 337.455 338.031 356.632 296.318 353.728C254.608 350.824 216.248 329.612 176.06 336.295C135.872 342.978 125.065 320.171 148.659 314.502C172.253 308.837 195.242 294.453 165.402 294.165C135.563 293.877 41.3194 295.118 83.1994 271.813H83.2029Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M276.578 234.256C274.818 234.636 273.535 235.345 273.478 235.307L272.177 244.284L276.002 245.552C277.85 241.926 278.615 237.523 276.578 234.252V234.256Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M283.879 236.4C281.658 233.822 278.753 233.788 276.578 234.256C278.615 237.526 277.847 241.926 276.002 245.556L276.99 245.885C276.99 245.885 277.779 246.692 281.306 250.268C284.832 253.843 295.458 259.909 298.476 257.48C301.49 255.048 287.896 241.061 283.879 236.403V236.4Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M242.522 167.596C242.522 167.596 236.539 195.515 218.224 212.365C223.18 212.738 260.492 230.575 274.167 234.066C279.055 238.673 272.948 246.682 272.948 246.682C272.948 246.682 211.939 241.305 195.117 223.641C178.299 205.977 207.506 159.766 210.805 155.339C215.128 149.718 230.656 134.059 230.656 134.059"
        fill="#2D317B"
      />
      <path
        d="M242.522 167.596C242.522 167.596 236.539 195.515 218.224 212.365C223.18 212.738 260.492 230.575 274.167 234.066C279.055 238.673 272.948 246.682 272.948 246.682C272.948 246.682 211.939 241.305 195.117 223.641C178.299 205.977 207.506 159.766 210.805 155.339C215.128 149.718 230.656 134.059 230.656 134.059"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-miterlimit="10"
      />
      <path
        d="M292.969 166.833C293.502 167.779 285.739 173.733 282.692 167.487C279.646 161.239 285.699 155.132 285.699 155.132C290.484 147.608 294.007 138.099 295.71 132.471C298.906 121.918 284.242 103.321 284.242 103.321L297.935 99.4024C314.405 125.622 313.779 131.952 292.13 156.659C291.977 156.886 291.828 157.202 291.672 157.575C293.499 158.06 294.64 160.041 294.64 160.041C294.64 160.041 293.577 160.363 292.13 161.31C291.067 161.815 291.067 164.142 292.966 166.829L292.969 166.833Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M226.194 94.0255C226.194 94.3173 212.597 111.944 203.866 110.295C195.139 108.65 195.95 80.5612 196.152 73.8782C196.355 67.1953 194.631 60.9974 192.601 63.8063C190.571 66.6152 191.993 74.0716 191.993 74.0716C191.993 74.0716 183.063 73.1048 184.89 80.5612C186.718 88.0176 188.036 85.5005 189.355 87.6309C189.049 95.1857 187.731 122.006 200.923 124.041C214.115 126.077 231.47 110.102 233.599 105.064C235.732 100.027 226.191 94.0221 226.191 94.0221L226.194 94.0255Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M260.709 304.339C257.829 307.188 252.611 308.481 248.49 307.327L249.233 309.811C249.233 309.811 246.19 312.521 242.838 316.107C239.49 319.689 232.181 328.021 238.014 328.794C243.848 329.568 263.439 314.848 264.249 311.361C264.718 309.353 262.593 306.445 260.705 304.342L260.709 304.339Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M260.709 304.339C259.319 302.788 258.06 301.672 258.06 301.672L248.114 306.072L248.487 307.324C252.607 308.477 257.826 307.185 260.705 304.335L260.709 304.339Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M229.34 159.495C229.34 159.495 204.641 191.746 209.28 227.773C213.916 263.8 246.393 305.255 246.596 305.835C246.798 306.415 257.353 306.222 260.602 301.961C254.107 288.981 227.719 231.84 236.45 220.412C245.177 208.983 276.233 176.83 264.864 149.905C245.583 145.837 235.433 142.35 235.433 142.35"
        fill="#2D317B"
      />
      <path
        d="M229.34 159.495C229.34 159.495 204.641 191.746 209.28 227.773C213.916 263.8 246.393 305.255 246.596 305.835C246.798 306.415 257.353 306.222 260.602 301.961C254.107 288.981 227.719 231.84 236.45 220.412C245.177 208.983 276.233 176.83 264.864 149.905C245.583 145.837 235.433 142.35 235.433 142.35"
        stroke="#1A1A1A"
        stroke-miterlimit="10"
      />
      <path
        d="M229.237 100.902L222.639 96.5427C222.639 96.5427 234.107 76.7855 253.29 74.5567"
        fill="white"
      />
      <path
        d="M229.237 100.902L222.639 96.5427C222.639 96.5427 234.107 76.7855 253.29 74.5567"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M237.94 88.6011C237.94 88.6011 228.882 97.1736 228.274 107.052C227.666 116.931 232.081 128.892 225.38 137.997C229.134 147.974 245.476 152.042 265.465 150.977C272.568 146.136 282.006 115.723 279.166 100.614C276.325 85.5039 275.511 75.9171 275.511 75.9171L253.286 74.5601"
        fill="white"
      />
      <path
        d="M237.94 88.6011C237.94 88.6011 228.882 97.1736 228.274 107.052C227.666 116.931 232.081 128.892 225.38 137.997C229.134 147.974 245.476 152.042 265.465 150.977C272.568 146.136 282.006 115.723 279.166 100.614C276.325 85.5039 275.511 75.9171 275.511 75.9171L253.286 74.5601"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M253.29 74.5567C272.472 72.3279 270.762 71.7852 270.762 71.7852C270.762 71.7852 291.295 82.0606 298.906 99.7858C298.145 102.981 285.255 106.421 285.255 106.421C285.255 106.421 280.598 103.565 274.701 96.01"
        fill="white"
      />
      <path
        d="M253.29 74.5567C272.472 72.3279 270.762 71.7852 270.762 71.7852C270.762 71.7852 291.295 82.0606 298.906 99.7858C298.145 102.981 285.255 106.421 285.255 106.421C285.255 106.421 280.598 103.565 274.701 96.01"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M257.424 61.9439C257.424 61.9439 255.824 64.4848 251.949 64.9563C242.366 65.4245 237.94 47.7061 237.94 47.7061L254.228 37.5358L265.646 53.4426C265.646 53.4426 270.566 65.9367 271.583 70.5842C272.6 75.2318 253.62 80.8496 252.632 77.7015C251.644 74.5533 252.365 65.0988 252.365 65.0988"
        fill="white"
      />
      <path
        d="M257.424 61.9439C257.424 61.9439 255.824 64.4848 251.949 64.9563C242.366 65.4245 237.94 47.7061 237.94 47.7061L254.228 37.5358L265.646 53.4426C265.646 53.4426 270.566 65.9367 271.583 70.5842C272.6 75.2318 253.62 80.8496 252.632 77.7015C251.644 74.5533 252.365 65.0988 252.365 65.0988"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M252.536 66.9069C252.536 66.9069 255.981 66.5202 257.556 62.2085C256.159 63.6129 254.548 64.7765 252.536 65.1124C252.657 66.0317 252.536 66.9035 252.536 66.9035V66.9069Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M230.019 48.0691C230.019 48.0691 230.709 56.4958 236.34 52.4249C241.971 48.3575 245.067 41.8204 249.937 46.0812C252.525 48.985 253.084 48.6967 253.286 48.5508C253.489 48.405 252.22 46.3729 253.286 44.2425C254.353 42.1121 259.831 45.1619 258.818 49.0359C257.804 52.91 259.479 57.7509 263.03 62.2085C266.581 66.6627 274.928 77.7761 278.43 78.6479C286.041 76.47 291.675 77.196 293.35 70.9472C295.024 64.7019 300.58 60.7769 304.235 60.7769L306.823 60.5598C306.823 60.5598 302.56 52.7133 285.205 53.368C267.85 54.0227 268.636 42.8517 263.666 35.5716C258.11 27.4367 247.837 27.9456 240.833 33.0307C235.203 32.376 228.878 38.2618 230.019 48.0691Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M249.6 75.2182C249.6 75.2182 248.597 79.669 252.756 79.7267C247.481 89.897 249.304 92.638 249.304 92.638C249.304 92.638 254.466 84.5744 256.14 80.6494C264.121 81.8469 272.596 73.8511 272.596 73.8511"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M249.433 313.295L243.244 312.084L247.101 316.578C247.101 316.578 240.556 315.038 240.556 315.232C240.556 315.425 244.566 319.204 244.566 319.204L238.985 318.237"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M280.236 247.968L279.781 251.408L283.03 250.197C283.03 250.197 282.777 253.636 283.03 253.925C283.282 254.213 288.408 252.52 288.408 252.52V257.12L290.996 256.008"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M364.212 212.958C364.212 212.958 353.861 196.835 359.797 195.233C365.734 193.636 377.152 211.503 377.152 211.503"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M369.793 277.023L366.75 210.536L388.872 210.343L392.324 275.619L369.793 277.023Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M362.844 210.343L366.751 210.536L369.793 277.023L365.126 274.459L357.209 276.199L362.844 210.343Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M385.524 212.375C385.524 212.375 391.005 194.07 381.414 192.472C371.823 190.874 369.793 212.375 369.793 212.375"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M380.248 233.275L387.084 232.716V236.685L380.248 237.071V233.275Z"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M322.503 227.631C322.503 227.631 321.582 217.046 323.658 215.282C328.109 211.507 332.247 214.265 334.071 225.599"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M325.393 224.214L330.875 277.023H362.844L341.379 224.214H325.393Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M328.44 226.759C328.44 226.759 326.157 211.503 334.071 210.343C341.984 209.183 339.702 226.759 339.702 226.759"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M316.413 275.571C316.413 275.571 331.635 277.461 330.875 277.023C330.114 276.586 325.393 224.214 325.393 224.214L323.872 225.887L320.978 224.214L316.41 275.571H316.413Z"
        fill="#1A1A1A"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M336.584 241.142L344.65 240.413L345.642 243.683L338.18 244.338L336.584 241.142Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M413.86 166.178L408.709 162.796C407.881 162.249 406.821 162.131 405.879 162.473L400.038 164.604C397.671 165.469 395.289 163.366 396.011 161.045L397.792 155.326C398.08 154.403 397.87 153.406 397.237 152.659L393.309 148.015C391.717 146.132 393.074 143.323 395.613 143.259L401.866 143.106C402.872 143.083 403.803 142.587 404.351 141.78L407.763 136.78C409.146 134.751 412.367 135.117 413.213 137.4L415.296 143.028C415.63 143.934 416.412 144.626 417.386 144.874L423.426 146.424C425.875 147.055 426.505 150.091 424.492 151.563L419.53 155.193C418.73 155.777 418.282 156.7 418.335 157.66L418.655 163.62C418.783 166.039 415.954 167.548 413.863 166.174L413.86 166.178Z"
        fill="white"
        stroke="#1A1A1A"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M41.842 103.67C55.507 103.67 66.6231 114.278 66.6231 127.318C66.6231 140.358 55.507 150.966 41.842 150.966C28.1771 150.966 17.061 140.358 17.061 127.318C17.061 114.278 28.1771 103.67 41.842 103.67ZM41.842 102.652C27.5656 102.652 15.9945 113.694 15.9945 127.318C15.9945 140.942 27.5656 151.984 41.842 151.984C56.1184 151.984 67.6895 140.942 67.6895 127.318C67.6895 113.694 56.1184 102.652 41.842 102.652Z"
        fill="black"
      />
      <path
        d="M41.8422 112.677C50.3028 112.677 57.185 119.244 57.185 127.318C57.185 135.392 50.3028 141.96 41.8422 141.96C33.3816 141.96 26.4993 135.392 26.4993 127.318C26.4993 119.244 33.3816 112.677 41.8422 112.677ZM41.8422 111.659C32.7808 111.659 25.4329 118.671 25.4329 127.318C25.4329 135.965 32.7808 142.977 41.8422 142.977C50.9035 142.977 58.2515 135.965 58.2515 127.318C58.2515 118.671 50.9035 111.659 41.8422 111.659Z"
        fill="black"
      />
      <path
        d="M41.842 122.532C44.6077 122.532 46.858 124.679 46.858 127.318C46.858 129.957 44.6077 132.105 41.842 132.105C39.0763 132.105 36.8261 129.957 36.8261 127.318C36.8261 124.679 39.0763 122.532 41.842 122.532ZM41.842 121.514C38.4827 121.514 35.7596 124.112 35.7596 127.318C35.7596 130.524 38.4827 133.123 41.842 133.123C45.2014 133.123 47.9244 130.524 47.9244 127.318C47.9244 124.112 45.2014 121.514 41.842 121.514Z"
        fill="black"
      />
      <path
        d="M41.8419 127.318V87.8989H62.1971L56.7937 92.655L62.1971 98.6222H43.0221V127.318H41.8419Z"
        fill="white"
      />
      <path
        d="M41.8422 127.318H42.0199V88.0685H61.7424L56.5451 92.6414L61.8099 98.4526H42.8447V127.149H41.8422V127.318H42.0199H41.8422V127.488H43.2001V98.7884L62.5884 98.7918L57.0393 92.6686L62.6524 87.7293H41.6644V127.488H41.8422V127.318Z"
        fill="black"
      />
      <path d="M12.6992 127.827H20.8079V126.809H12.6992" fill="black" />
      <path d="M64.6467 127.827H72.759V126.809H64.6467" fill="black" />
      <path d="M43.2603 155.974V148.236H42.1938V155.974" fill="black" />
    </svg>
  </div>
</section>
