<div class="bg-blue">
    <div class="container mx-auto p-2 sm:p-3 md:p-4 lg:pt-[84px] lg:pb-[30px] flex justify-center font-inter">
      <h1 class="text-white text-[32px] text-center justify-center font-bold">
        Our best results this year
      </h1>
    </div>

    
    <div class="container mx-auto p-2 xl:px-[219px] lg:pb-[87px] flex justify-center gap-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-[47px]">
        
            <% milestoneInformation.forEach(function(milestoneInformation) { %> <%- 
            include('../../components/information-cards/milestone-content.ejs', {milestoneInformation}) %> <%  }); %>
        
        </div>
    </div>
  </div>