<main
  class="[&>]:bg-green-500 | [&>]:container | [&>*]:xl:p-6 | h-10vh | font-inter"
>
  <section
    class="| mx-20 | sm:p-3 | md:p-4 | lg:p-5 | xl:p-6 | grid | grid-cols-5 | md:grid-cols-5 | xl:grid-cols-5"
  >
    <div
      class="flex | items-center | justify-center | p-4"
    >
      <svg
        width="183"
        height="32"
        viewBox="0 0 183 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 24.4069C0 23.3713 1.25213 22.8526 1.98444 23.585L7.31243 28.913C8.04474 29.6453 7.52608 30.8974 6.49045 30.8974H1.16246C0.52045 30.8974 0 30.377 0 29.7349V24.4069ZM0 18.7948C0 19.1031 0.122473 19.3988 0.340476 19.6168L11.2806 30.5569C11.4986 30.7749 11.7943 30.8974 12.1026 30.8974H18.1115C19.1472 30.8974 19.6659 29.6453 18.9335 28.913L1.98444 11.9639C1.25213 11.2315 0 11.7502 0 12.7859V18.7948ZM0 7.17374C0 7.48203 0.122473 7.77772 0.340476 7.99571L22.9017 30.5569C23.1196 30.7749 23.4154 30.8974 23.7237 30.8974H29.7326C30.7683 30.8974 31.287 29.6453 30.5546 28.913L1.98444 0.342813C1.25214 -0.389488 0 0.129154 0 1.16479V7.17374ZM11.6211 7.17374C11.6211 7.48203 11.7436 7.77772 11.9616 7.99571L32.8788 28.913C33.6112 29.6453 34.8633 29.1266 34.8633 28.091V22.082C34.8633 21.7737 34.7407 21.478 34.5228 21.2601L13.6055 0.342802C12.8732 -0.3895 11.6211 0.129154 11.6211 1.16479V7.17374ZM25.2266 0.342813C24.4943 -0.3895 23.2422 0.129154 23.2422 1.16479V7.17374C23.2422 7.48203 23.3647 7.77772 23.5827 7.99571L32.8788 17.2919C33.6112 18.0242 34.8633 17.5056 34.8633 16.4699V10.4609C34.8633 10.1527 34.7407 9.85693 34.5228 9.63897L25.2266 0.342813Z"
          fill="#3B3A3A"
        />
        <path
          d="M49.4333 24.5494L38.4914 13.6075C37.759 12.8751 36.507 13.3938 36.507 14.4294V29.7348C36.507 30.3768 37.0274 30.8973 37.6694 30.8973H54.6187C55.2608 30.8973 55.7812 30.3768 55.7812 29.7348V28.341C55.7812 27.699 55.2586 27.1864 54.6219 27.1035C52.6681 26.849 50.8406 25.9567 49.4333 24.5494ZM42.085 27.1786C41.0587 27.1786 40.2257 26.3456 40.2257 25.3192C40.2257 24.2928 41.0587 23.4598 42.085 23.4598C43.1115 23.4598 43.9445 24.2928 43.9445 25.3192C43.9445 26.3456 43.1115 27.1786 42.085 27.1786Z"
          fill="#3B3A3A"
        />
        <path
          d="M1.88612 23.4964L1.98444 23.5849L7.31244 28.9129C8.0129 29.6134 7.56882 30.7894 6.62254 30.8903L6.49045 30.8973H1.16246C0.566307 30.8973 0.0749701 30.4485 0.0078207 29.8704L0 29.7348V24.4068C0 23.4162 1.14562 22.8986 1.88612 23.4964ZM1.88612 11.8755L1.98444 11.964L11.6211 21.6007V30.8975L0.340476 19.6169C0.158807 19.4352 0.0434779 19.1996 0.0100813 18.9477L0 18.7949V12.786C0 11.7954 1.14562 11.2777 1.88612 11.8755ZM0 1.16478C0 0.174178 1.14562 -0.343426 1.88612 0.254325L1.98444 0.34281L11.6211 9.97945V19.2763L0.340476 7.99571C0.158807 7.81404 0.0434779 7.57843 0.0100813 7.32653L0 7.17373V1.16478Z"
          fill="#3B3A3A"
        />
        <path
          d="M11.621 9.97957L22.9016 21.2602C23.0833 21.4418 23.1986 21.6774 23.232 21.9293L23.242 22.0821V30.8975L11.9614 19.6169C11.7798 19.4352 11.6645 19.1996 11.6311 18.9477L11.621 18.7949V9.97957ZM11.621 21.6004L18.9334 28.9129C19.6339 29.6134 19.1898 30.7894 18.2435 30.8903L18.1114 30.8973H11.621V21.6004ZM13.5071 0.254325L13.6054 0.34281L22.9016 9.63897C23.0833 9.8206 23.1986 10.0562 23.232 10.3081L23.242 10.4609V19.2763L11.9614 7.99571C11.7798 7.81404 11.6645 7.57843 11.6311 7.32653L11.621 7.17373V1.16478C11.621 0.174178 12.7666 -0.343426 13.5071 0.254325Z"
          fill="#3B3A3A"
        />
        <path
          d="M69.3401 26.2574H74.1155V18.3387H78.105C82.4875 18.3387 85.2983 15.7396 85.2983 11.7197C85.2983 7.69996 82.4875 5.10071 78.105 5.10071H69.3401V26.2574ZM74.1155 14.2585V9.18099H77.6214C79.4349 9.18099 80.5229 10.148 80.5229 11.7197C80.5229 13.2914 79.4349 14.2585 77.6214 14.2585H74.1155ZM93.9376 26.4992C98.592 26.4992 101.977 23.1745 101.977 18.641C101.977 14.1074 98.592 10.7827 93.9376 10.7827C89.2226 10.7827 85.898 14.1074 85.898 18.641C85.898 23.1745 89.2226 26.4992 93.9376 26.4992ZM90.3107 18.641C90.3107 16.223 91.7614 14.5607 93.9376 14.5607C96.0835 14.5607 97.5342 16.223 97.5342 18.641C97.5342 21.0589 96.0835 22.7212 93.9376 22.7212C91.7614 22.7212 90.3107 21.0589 90.3107 18.641ZM109.619 26.4992C113.186 26.4992 115.603 24.2626 115.603 21.6331C115.603 15.4674 107.413 17.4622 107.413 15.0443C107.413 14.3795 108.108 13.9564 109.105 13.9564C110.133 13.9564 111.372 14.591 111.765 15.9812L115.331 14.5003C114.636 12.2939 112.067 10.7827 108.954 10.7827C105.599 10.7827 103.514 12.7775 103.514 15.1652C103.514 20.938 111.584 19.3361 111.584 21.7238C111.584 22.5701 110.798 23.1444 109.619 23.1444C107.927 23.1444 106.748 21.9657 106.385 20.5452L102.819 21.9354C103.605 24.2324 105.902 26.4992 109.619 26.4992ZM127.091 26.1064L126.789 22.2679C126.275 22.5399 125.61 22.6305 125.066 22.6305C123.978 22.6305 123.253 21.8448 123.253 20.4846V14.7118H126.94V11.0245H123.253V6.6119H118.81V11.0245H116.392V14.7118H118.81V21.0589C118.81 24.7463 121.319 26.4992 124.613 26.4992C125.52 26.4992 126.366 26.3482 127.091 26.1064ZM142.582 5.10071V13.3215H134.18V5.10071H129.405V26.2574H134.18V17.4018H142.582V26.2574H147.388V5.10071H142.582ZM157.987 26.4992C162.642 26.4992 166.027 23.1745 166.027 18.641C166.027 14.1074 162.642 10.7827 157.987 10.7827C153.272 10.7827 149.948 14.1074 149.948 18.641C149.948 23.1745 153.272 26.4992 157.987 26.4992ZM154.36 18.641C154.36 16.223 155.811 14.5607 157.987 14.5607C160.133 14.5607 161.584 16.223 161.584 18.641C161.584 21.0589 160.133 22.7212 157.987 22.7212C155.811 22.7212 154.36 21.0589 154.36 18.641ZM174.602 25.7738C176.265 25.7738 177.745 25.1995 178.531 24.2021V25.6529C178.531 27.3454 177.171 28.5243 175.086 28.5243C173.605 28.5243 172.305 27.7988 172.094 26.5596L168.044 27.1943C168.588 30.0656 171.519 32 175.086 32C179.771 32 182.884 29.2495 182.884 25.1693V11.0245H178.501V12.3242C177.685 11.3872 176.295 10.7827 174.512 10.7827C170.28 10.7827 167.62 13.6842 167.62 18.2783C167.62 22.8723 170.28 25.7738 174.602 25.7738ZM171.943 18.2783C171.943 16.0115 173.272 14.5607 175.328 14.5607C177.413 14.5607 178.743 16.0115 178.743 18.2783C178.743 20.5451 177.413 21.9958 175.328 21.9958C173.272 21.9958 171.943 20.5451 171.943 18.2783Z"
          fill="#3B3A3A"
        />
      </svg>
    </div>
    <div
      class="flex | items-center | justify-center | p-4"
    >
      <svg
        width="98"
        height="32"
        viewBox="0 0 98 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M88.8504 21.0311C86.1393 21.0311 84.2282 18.9155 84.2282 16.1333C84.2282 13.3511 86.1393 11.2355 88.8504 11.2355C91.5616 11.2355 93.4193 13.3511 93.4193 16.1333C93.4193 18.9155 91.5349 21.0311 88.8504 21.0311ZM88.4149 23.9466C90.6016 23.9466 92.4593 23.0933 93.6327 21.3066C93.8549 23.04 95.1082 23.6711 96.6904 23.6711H97.9527V20.9244H97.4104C96.5127 20.9244 96.2904 20.4889 96.2904 19.4666V8.60441H93.3927V10.8355C92.406 9.27107 90.5482 8.32885 88.4149 8.32885C84.6104 8.32885 81.1171 11.52 81.1171 16.1333C81.1171 20.7466 84.6193 23.9377 88.4149 23.9377V23.9466ZM73.4904 20.1777C73.4904 22.6489 75.0193 23.6711 76.8504 23.6711H80.3793V20.9244H77.8104C76.7438 20.9244 76.5216 20.5155 76.5216 19.4666V11.3511H80.3793V8.60441H76.5216V3.54663H73.4904V20.1777ZM59.686 23.6711H62.7171V17.2089H63.7304L68.8949 23.6711H72.726L66.1393 15.4755L71.1971 8.60441H67.7838L63.6504 14.4089H62.7171V3.54663H59.686V23.6711ZM49.846 8.32885C45.606 8.32885 42.1127 11.52 42.1127 16.1333C42.1127 20.7466 45.6149 23.9377 49.846 23.9377C54.0771 23.9377 57.5793 20.7466 57.5793 16.1333C57.5793 11.52 54.0771 8.32885 49.846 8.32885ZM49.846 21.0311C47.1349 21.0311 45.2238 18.9155 45.2238 16.1333C45.2238 13.3511 47.1349 11.2355 49.846 11.2355C52.5571 11.2355 54.4682 13.3511 54.4682 16.1333C54.4682 18.9155 52.5571 21.0311 49.846 21.0311Z"
          fill="#3B3A3A"
        />
        <path
          d="M18.4771 0.222222L17.8193 8.32889C17.5082 8.29333 17.1971 8.27556 16.8771 8.27556C16.4771 8.27556 16.086 8.30222 15.7038 8.36444L15.3305 4.43556C15.3216 4.31111 15.4193 4.20444 15.5438 4.20444H16.2105L15.8905 0.231111C15.8816 0.106667 15.9793 0 16.0949 0H18.2727C18.3971 0 18.4949 0.106667 18.4771 0.231111V0.222222ZM12.9838 0.622222C12.9482 0.506667 12.8238 0.435556 12.7082 0.48L10.6638 1.22667C10.5482 1.27111 10.4949 1.40444 10.5482 1.51111L12.2105 5.13778L11.5793 5.36889C11.4638 5.41333 11.4105 5.54667 11.4638 5.65333L13.1616 9.21778C13.7749 8.88 14.4416 8.62222 15.1438 8.46222L12.9927 0.622222H12.9838ZM7.97045 2.88L12.6727 9.51111C12.0771 9.90222 11.5349 10.3644 11.0727 10.8978L8.2549 8.12444C8.16601 8.03555 8.1749 7.89333 8.26379 7.81333L8.77934 7.38667L5.97934 4.55111C5.89046 4.46222 5.89934 4.32 5.99712 4.24L7.65934 2.84444C7.75712 2.76444 7.89046 2.78222 7.96157 2.88H7.97045ZM4.02379 6.72C3.92601 6.64889 3.78379 6.68444 3.72157 6.79111L2.63712 8.67556C2.5749 8.78222 2.61934 8.91556 2.72601 8.96889L6.3349 10.6756L5.99712 11.2533C5.9349 11.36 5.97934 11.5022 6.0949 11.5467L9.68601 13.1911C9.94379 12.5244 10.2905 11.9022 10.7171 11.3422L4.02379 6.72ZM1.36601 11.84C1.38379 11.7156 1.50823 11.6444 1.62379 11.6711L9.49045 13.7244C9.28601 14.3911 9.17045 15.0933 9.15268 15.8222L5.2149 15.5022C5.09046 15.4933 5.00157 15.3778 5.02823 15.2533L5.14379 14.5956L1.17046 14.2222C1.04601 14.2133 0.966011 14.0978 0.983789 13.9733L1.35712 11.8311L1.36601 11.84ZM1.07268 17.1556C0.948233 17.1644 0.868233 17.28 0.886011 17.4044L1.26823 19.5467C1.28601 19.6711 1.41046 19.7422 1.52601 19.7156L5.38379 18.7111L5.49934 19.3689C5.51712 19.4933 5.64157 19.5644 5.75712 19.5378L9.56157 18.4889C9.33934 17.8311 9.19712 17.1289 9.16157 16.4089L1.06379 17.1556H1.07268ZM2.3349 22.7911C2.27268 22.6844 2.31712 22.5511 2.42379 22.4978L9.76601 19.0133C10.0416 19.6711 10.4149 20.2844 10.8593 20.8356L7.64157 23.1289C7.54379 23.2 7.40157 23.1733 7.33934 23.0667L7.00157 22.48L3.72157 24.7467C3.62379 24.8178 3.48157 24.7822 3.41934 24.6756L2.32601 22.7911H2.3349ZM11.2327 21.2622L5.51712 27.0489C5.42823 27.1378 5.43712 27.28 5.5349 27.36L7.20601 28.7556C7.30379 28.8356 7.43712 28.8178 7.50823 28.72L9.81934 25.4667L10.3349 25.9022C10.4327 25.9822 10.5749 25.9644 10.646 25.8578L12.886 22.6044C12.2816 22.2311 11.7216 21.7778 11.2416 21.2622H11.2327ZM10.1038 30.5511C9.98823 30.5067 9.9349 30.3733 9.98823 30.2667L13.3749 22.8711C13.9971 23.1911 14.6727 23.4311 15.3749 23.5644L14.3793 27.3867C14.3527 27.5022 14.2193 27.5733 14.1038 27.5289L13.4727 27.2978L12.4149 31.1467C12.3793 31.2622 12.2549 31.3333 12.1393 31.2889L10.0949 30.5422L10.1038 30.5511ZM15.9349 23.6622L15.2771 31.7689C15.2682 31.8933 15.366 32 15.4816 32H17.6593C17.7838 32 17.8816 31.8933 17.8638 31.7689L17.5438 27.7956H18.2105C18.3349 27.7956 18.4327 27.6889 18.4238 27.5644L18.0505 23.6356C17.6682 23.6978 17.2771 23.7244 16.8771 23.7244C16.5571 23.7244 16.246 23.7067 15.9349 23.6622ZM23.7749 1.71556C23.8282 1.6 23.7749 1.47556 23.6593 1.43111L21.6149 0.684444C21.4993 0.64 21.3749 0.711111 21.3393 0.826667L20.2816 4.67556L19.6505 4.44444C19.5349 4.4 19.4105 4.47111 19.3749 4.58667L18.3793 8.40889C19.0905 8.55111 19.7571 8.79111 20.3793 9.10222L23.7749 1.71556ZM28.2371 4.94222L22.5216 10.7289C22.0416 10.2133 21.4905 9.76 20.8771 9.38667L23.1171 6.13333C23.1882 6.03556 23.3305 6.00889 23.4282 6.08889L23.9438 6.52444L26.2549 3.27111C26.326 3.17333 26.4682 3.15556 26.5571 3.23556L28.2282 4.63111C28.326 4.71111 28.326 4.85333 28.246 4.94222H28.2371ZM31.3305 9.49333C31.446 9.44 31.4816 9.30667 31.4193 9.2L30.326 7.31556C30.2638 7.20889 30.1216 7.18222 30.0238 7.24444L26.7438 9.51111L26.406 8.93333C26.3438 8.82667 26.2016 8.79111 26.1038 8.87111L22.886 11.1644C23.3305 11.7156 23.6949 12.3289 23.9793 12.9867L31.3216 9.50222L31.3305 9.49333ZM32.486 12.4444L32.8593 14.5867C32.8771 14.7111 32.7971 14.8178 32.6727 14.8356L24.5749 15.5911C24.5393 14.8622 24.3971 14.1689 24.1749 13.5111L27.9793 12.4622C28.0949 12.4267 28.2193 12.5067 28.2371 12.6311L28.3527 13.2889L32.2105 12.2844C32.326 12.2578 32.4505 12.3289 32.4682 12.4533L32.486 12.4444ZM32.1216 20.3111C32.2371 20.3378 32.3616 20.2667 32.3793 20.1422L32.7527 18C32.7705 17.8756 32.6905 17.7689 32.566 17.7511L28.5927 17.3778L28.7082 16.72C28.726 16.5956 28.646 16.4889 28.5216 16.4711L24.5838 16.1511C24.566 16.88 24.4505 17.5822 24.246 18.2489L32.1127 20.3022L32.1216 20.3111ZM30.0238 25.2C29.9616 25.3067 29.8193 25.3333 29.7216 25.2711L23.0282 20.6489C23.4549 20.0889 23.8016 19.4667 24.0593 18.8L27.6505 20.4444C27.766 20.4978 27.8105 20.6311 27.7482 20.7378L27.4105 21.3156L31.0193 23.0222C31.126 23.0756 31.1705 23.2089 31.1082 23.3156L30.0238 25.2ZM21.0727 22.4711L25.7749 29.1022C25.846 29.2 25.9882 29.2178 26.0771 29.1378L27.7393 27.7422C27.8371 27.6622 27.8371 27.52 27.7571 27.4311L24.9571 24.5956L25.4727 24.1689C25.5705 24.0889 25.5705 23.9467 25.4816 23.8578L22.6638 21.0844C22.1927 21.6178 21.6593 22.0889 21.0638 22.4711H21.0727ZM21.0282 31.5022C20.9127 31.5467 20.7882 31.4756 20.7527 31.36L18.6016 23.52C19.3038 23.36 19.9705 23.1022 20.5838 22.7644L22.2816 26.3289C22.3349 26.4444 22.2816 26.5778 22.166 26.6133L21.5349 26.8444L23.1971 30.4711C23.2505 30.5867 23.1971 30.7111 23.0816 30.7556L21.0371 31.5022H21.0282Z"
          fill="#3B3A3A"
        />
      </svg>
    </div>
    <div
      class="flex | items-center | justify-center | p-4"
    >
      <svg
        width="218"
        height="32"
        viewBox="0 0 218 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M146.182 27.1324C145.298 28.6771 143.349 30.7057 140.068 30.7057C137.168 30.7057 133.688 29.0327 133.688 22.2901V11.0587H137.046V21.6946C137.046 25.3478 138.117 27.8079 141.167 27.8079C143.427 27.8079 144.991 26.1833 145.597 24.6387C145.786 24.121 145.906 23.4812 145.906 22.8499V11.0587H149.265V25.028C149.265 27.0061 149.298 28.757 149.42 30.2722H146.445L146.259 27.1324H146.182ZM68.6143 28.3109C67.3938 29.8555 65.4872 30.6952 63.2733 30.6952C59.4916 30.6952 57.2336 27.8332 57.2336 24.7397C57.2336 19.7038 61.5855 17.2752 68.1977 17.3215V17.048C68.1977 16.0168 67.6568 14.5521 64.7927 14.5521C62.8861 14.5521 60.8574 15.2255 59.6368 16.0168L58.5657 12.1236C59.8683 11.366 62.4231 10.419 65.826 10.419C72.0551 10.419 74.0375 14.2322 74.0375 18.7883V25.5309C74.0375 27.3955 74.1132 29.1821 74.3005 30.2491H69.0668V30.2596L68.728 28.3109H68.6143ZM35.5411 20.3351C35.5411 27.4312 30.6925 30.6952 25.6923 30.6952C20.2271 30.6952 16.0267 26.9619 16.0267 20.6886C16.0267 14.4153 20.0041 10.4064 25.9975 10.4064C31.7173 10.419 35.5411 14.5058 35.5411 20.333V20.3351ZM131.089 20.4929C131.089 27.5912 126.349 30.6952 121.886 30.6952C116.886 30.6952 113.028 26.882 113.028 20.8149C113.028 14.3795 117.073 10.6126 122.195 10.6126C127.494 10.6126 131.089 14.6216 131.089 20.4929ZM166.18 26.9262C165.145 29.0664 162.897 30.6931 159.875 30.6931C155.403 30.6931 151.967 26.7662 151.967 20.9285C151.933 14.5395 155.744 10.6126 160.252 10.6126C163.084 10.6126 164.989 11.9973 165.826 13.5567H165.902V2.08545H169.276V25.3015C169.276 27.0061 169.307 28.9527 169.427 30.2596H166.409L166.256 26.9262H166.18ZM104.468 29.5483C103.586 30.0281 101.635 30.6594 99.156 30.6594C93.5813 30.6594 89.9596 26.7326 89.9596 20.8591C89.9596 14.9414 93.857 10.6589 99.8841 10.6589C101.869 10.6589 103.63 11.1724 104.545 11.6543L103.786 14.3564C102.98 13.8766 101.723 13.441 99.8841 13.441C95.6416 13.441 93.352 16.6923 93.352 20.7013C93.352 25.1416 96.1045 27.8774 99.7621 27.8774C101.669 27.8774 102.938 27.3618 103.883 26.9262L104.468 29.5483ZM2.00275 24.9817C3.0697 25.6551 5.28566 26.4464 7.00288 26.4464C8.75377 26.4464 9.4819 25.8171 9.4819 24.8217C9.4819 23.8242 8.9095 23.3549 6.7272 22.5995C2.87188 21.2484 1.38194 19.064 1.41772 16.7597C1.41772 13.1569 4.39338 10.4064 9.02103 10.4064C11.2012 10.4064 13.1415 10.922 14.2863 11.5175L13.2509 15.6843C12.4155 15.2045 10.8035 14.5753 9.20622 14.5753C7.79625 14.5753 6.99236 15.1708 6.99236 16.1662C6.99236 17.0816 7.71839 17.5509 10.0122 18.3885C13.5603 19.6575 15.0586 21.5241 15.0902 24.3756C15.0902 27.9805 12.3355 30.6489 6.99236 30.6489C4.54701 30.6489 2.37734 30.0849 0.952637 29.2958L2.00064 24.9817H2.00275ZM43.3948 30.2827H37.5908V17.0459H37.6013C37.6013 14.6321 37.5235 12.5613 37.4477 10.8525H42.4941L42.7572 13.5104H42.8666C44.1307 11.5605 46.3049 10.3933 48.6286 10.4169C52.4523 10.4169 55.3185 13.0411 55.3185 18.7547V30.2596H49.5103V19.5102C49.5103 17.0122 48.6749 15.3076 46.5683 15.3076C44.9605 15.3076 44.0114 16.4629 43.6284 17.572C43.4727 17.9276 43.3948 18.5253 43.3948 19.0872V30.2827ZM82.895 30.2722H77.0868V17.2416C77.0868 14.3795 77.011 12.515 76.9353 10.8525H81.9354L82.1248 14.4258H82.2784C83.2359 11.608 85.5298 10.419 87.3228 10.419C87.8636 10.419 88.1287 10.419 88.5475 10.499V16.1767C88.0329 16.0717 87.5092 16.0181 86.9839 16.0168C84.8437 16.0168 83.3896 17.2058 83.0066 19.0745C82.9266 19.4744 82.8929 19.9437 82.8929 20.4256V30.2722H82.895ZM110.232 30.2596H106.871V2.08545H110.229V30.2596H110.232ZM116.423 20.6992C116.423 24.9017 118.746 28.0836 122.042 28.0836C125.247 28.0836 127.661 24.948 127.661 20.6192C127.661 17.3678 126.095 13.2368 122.117 13.2368C118.14 13.2368 116.423 17.0459 116.423 20.6992ZM165.913 18.8683C165.913 18.4348 165.883 17.8371 165.759 17.4015C165.265 15.1813 163.434 13.3505 160.911 13.3505C157.442 13.3505 155.37 16.5198 155.37 20.7686C155.37 24.6618 157.198 27.8647 160.835 27.8647C163.093 27.8647 165.153 26.3201 165.759 23.698C165.871 23.2161 165.913 22.7468 165.913 22.187V18.8683ZM68.385 21.0885C65.3335 21.0548 62.9639 21.7977 62.9639 24.1441C62.9639 25.6909 63.9551 26.4464 65.2557 26.4464C66.7077 26.4464 67.8862 25.451 68.2755 24.2241C68.3513 23.9042 68.385 23.5507 68.385 23.1929V21.0885ZM22.0201 20.5392C22.0201 23.8684 23.3543 26.3769 25.8439 26.3769C28.1019 26.3769 29.5456 24.0284 29.5456 20.5392C29.5456 17.6414 28.4786 14.7015 25.8418 14.7015C23.0429 14.7015 22.0201 17.6751 22.0201 20.5392Z"
          fill="#3B3A3A"
        />
        <path
          d="M215.42 14.3796C214.142 12.7562 212.411 11.5484 210.447 10.9094V10.7831C210.447 4.8423 205.8 0 200.072 0C194.34 0 189.691 4.83178 189.691 10.7852V10.9325C185.495 12.3067 182.431 16.3935 182.431 21.2148C182.431 27.1556 187.081 32 192.81 32C195.56 31.994 198.191 30.8742 200.101 28.896C202.008 30.8752 204.637 31.9954 207.385 32C213.103 32 217.766 27.1682 217.766 21.2148C217.766 18.7316 216.924 16.303 215.42 14.3796ZM207.385 29.2727C203.111 29.2727 199.63 25.6572 199.63 21.2127C199.641 20.4763 199.055 19.8693 198.319 19.8532C197.964 19.8587 197.626 20.0055 197.379 20.2611C197.133 20.5166 196.999 20.8598 197.006 21.2148C197.006 23.2287 197.547 25.1185 198.471 26.7326C197.034 28.3517 194.974 29.2805 192.81 29.2853C188.533 29.2853 185.051 25.6678 185.051 21.2253C185.051 16.785 188.533 13.1674 192.81 13.1674C193.736 13.1674 194.636 13.34 195.499 13.6599C195.51 13.6599 195.518 13.6704 195.529 13.6704C195.827 13.7756 196.248 13.9797 196.379 14.0934C196.637 14.329 196.982 14.447 197.33 14.419C197.679 14.3911 198 14.2199 198.218 13.9461C198.691 13.3726 198.628 12.5278 198.075 12.031C197.502 11.5281 196.61 11.1851 196.391 11.1051C195.251 10.6723 194.04 10.4512 192.82 10.4527C192.654 10.4527 192.49 10.4527 192.323 10.4632C192.5 6.1702 195.905 2.73787 200.083 2.73787C204.357 2.73787 207.837 6.35328 207.837 10.7978C207.845 13.3792 206.636 15.8135 204.575 17.3679C203.988 17.8165 203.852 18.6452 204.266 19.2577C204.519 19.6238 204.929 19.8301 205.337 19.8301C205.6 19.8301 205.863 19.7501 206.097 19.5775C208.054 18.1101 209.46 16.0251 210.085 13.6599C213.082 14.8152 215.163 17.8245 215.163 21.2253C215.152 25.6572 211.672 29.2727 207.385 29.2727Z"
          fill="#3B3A3A"
        />
      </svg>
    </div>
    <div
      class="flex | items-center | justify-center | p-4"
    >
      <svg
        width="124"
        height="32"
        viewBox="0 0 124 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M52.9055 23.924V17.1658C52.9055 15.51 52.0269 13.9895 50.3036 13.9895C48.614 13.9895 47.6003 15.51 47.6003 17.1658V23.924H44.4578V11.2524H47.3638L47.6003 12.8068C48.2761 11.5227 49.7291 11.0496 50.9456 11.0496C52.4662 11.0496 53.9868 11.6579 54.6964 13.415C55.8115 11.6241 57.2983 11.1172 58.9203 11.1172C62.5021 11.1172 64.293 13.3136 64.293 17.132V23.9578H61.1505V17.0982C61.1505 15.4425 60.4747 14.0232 58.7513 14.0232C57.0618 14.0232 56.0143 15.4763 56.0143 17.1658V23.924H52.9055ZM76.4578 11.2862H79.4652V23.924H76.5253L76.3564 22.0655C75.6468 23.5523 73.6531 24.2619 72.2677 24.2957C68.5169 24.3295 65.746 21.9979 65.746 17.5713C65.746 13.2582 68.5912 10.9631 72.2192 10.948L72.3353 10.9483C74.0248 10.9483 75.6468 11.7593 76.3564 13.0095L76.4578 11.2862ZM68.8886 17.5713C68.8886 19.9705 70.5443 21.4235 72.6394 21.4235C77.5729 21.4235 77.5729 13.7529 72.6394 13.7529C70.5443 13.7529 68.8886 15.1721 68.8886 17.5713ZM84.6014 11.2862V17.9092C84.6014 19.8353 85.6489 21.2883 87.6425 21.2883C89.5686 21.2883 90.8865 19.6663 90.8865 17.7403V11.2862H93.9952V23.9578H91.1906L90.9879 22.2344C89.67 23.5185 88.4873 24.1267 86.6964 24.1267C83.6552 24.1267 81.4588 21.829 81.4588 17.9092V11.2862H84.6014ZM101.159 7.70435V11.2862H104.639V13.9895H101.125V19.4636C101.125 20.6801 101.801 21.2545 102.781 21.2545C103.254 21.2545 103.828 21.0856 104.301 20.8828L105.18 23.5523C104.268 23.924 103.524 24.0592 102.578 24.0929C99.8411 24.1943 98.0502 22.6399 98.0502 19.4636V13.9895H95.6848V11.2862H98.0502V8.04226L101.159 7.70435ZM110.384 7.70435C110.384 10.1373 106.701 10.1373 106.701 7.70435C106.701 5.2714 110.384 5.2714 110.384 7.70435ZM106.971 11.2186V23.924H110.114V11.2186H106.971ZM123.36 22.302C121.907 23.7212 120.352 24.2957 118.494 24.2957C114.81 24.2957 111.769 22.0993 111.769 17.6051C111.769 13.1109 114.81 10.9145 118.494 10.9145C120.285 10.9145 121.67 11.4213 123.055 12.773L121.096 14.8342C120.352 14.1584 119.44 13.8205 118.561 13.8205C116.466 13.8205 114.912 15.3749 114.912 17.5713C114.912 19.9705 116.568 21.2545 118.494 21.2545C119.507 21.2545 120.487 20.9842 121.265 20.207L123.36 22.302Z"
          fill="#3B3A3A"
        />
        <path
          d="M16.783 32C7.96358 32 0.766113 24.8025 0.766113 15.9831C0.766113 7.16367 7.96358 0 16.783 0C18.9118 0 20.9731 0.405491 22.933 1.21647C23.4736 1.45301 23.7439 2.09504 23.5074 2.63569C23.2709 3.17635 22.6288 3.44667 22.0882 3.21014C20.3986 2.50053 18.6077 2.16262 16.7492 2.16262C9.11247 2.16262 2.89494 8.38015 2.89494 16.0169C2.89494 23.6536 9.11247 29.8712 16.7492 29.8712C24.386 29.8712 30.6035 23.6536 30.6035 16.0169C30.6035 14.3949 30.3332 12.773 29.7587 11.2524C29.556 10.6779 29.8263 10.0697 30.4007 9.86695C30.9752 9.6642 31.5834 9.93453 31.7862 10.509C32.4282 12.2661 32.7662 14.1246 32.7662 16.0169C32.7999 24.8363 25.6024 32 16.783 32Z"
          fill="#3B3A3A"
        />
        <path
          d="M23.7777 14.3612L25.8052 22.7413H22.6964L21.311 16.9631L23.7777 14.3612ZM27.5623 5.74451L26.6838 10.6104L25.839 9.76563L16.783 19.6326L12.5592 15.0032L10.7007 22.7413H7.55811L10.9372 8.78569L16.783 14.8343L23.6426 7.56922L22.764 6.72444L27.5623 5.74451Z"
          fill="#3B3A3A"
        />
      </svg>
    </div>
    <div
      class="flex | items-center | justify-center | p-4"
    >
      <svg
        width="114"
        height="32"
        viewBox="0 0 114 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.359375 5.51733C0.359375 2.47019 2.82957 0 5.87671 0H26.842C29.8892 0 32.3594 2.47019 32.3594 5.51733V23.3484C32.3594 26.5004 28.37 27.8684 26.4358 25.3804L20.3869 17.5991V27.0347C20.3869 29.7769 18.1639 32 15.4216 32H5.87671C2.82957 32 0.359375 29.5298 0.359375 26.4827V5.51733ZM5.87671 4.41422C5.26693 4.41422 4.7736 4.90756 4.7736 5.51644V26.4827C4.7736 27.0924 5.26693 27.5867 5.87582 27.5867H15.5869C15.8918 27.5867 15.9727 27.3396 15.9727 27.0347V14.3822C15.9727 11.2293 19.962 9.86133 21.8972 12.3502L27.946 20.1307V5.51733C27.946 4.90756 28.0029 4.41422 27.394 4.41422H5.87671Z"
          fill="#3B3A3A"
        />
        <path
          d="M0.359375 5.51733C0.359375 2.47019 2.82957 0 5.87671 0H26.842C29.8892 0 32.3594 2.47019 32.3594 5.51733V23.3484C32.3594 26.5004 28.37 27.8684 26.4358 25.3804L20.3869 17.5991V27.0347C20.3869 29.7769 18.1639 32 15.4216 32H5.87671C2.82957 32 0.359375 29.5298 0.359375 26.4827V5.51733ZM5.87671 4.41422C5.26693 4.41422 4.7736 4.90756 4.7736 5.51644V26.4827C4.7736 27.0924 5.26693 27.5867 5.87582 27.5867H15.5869C15.8918 27.5867 15.9727 27.3396 15.9727 27.0347V14.3822C15.9727 11.2293 19.962 9.86133 21.8972 12.3502L27.946 20.1307V5.51733C27.946 4.90756 28.0029 4.41422 27.394 4.41422H5.87671Z"
          fill="url(#paint0_linear_61_621)"
        />
        <path
          d="M0.359375 5.51733C0.359375 2.47019 2.82957 0 5.87671 0H26.842C29.8892 0 32.3594 2.47019 32.3594 5.51733V23.3484C32.3594 26.5004 28.37 27.8684 26.4358 25.3804L20.3869 17.5991V27.0347C20.3869 29.7769 18.1639 32 15.4216 32H5.87671C2.82957 32 0.359375 29.5298 0.359375 26.4827V5.51733ZM5.87671 4.41422C5.26693 4.41422 4.7736 4.90756 4.7736 5.51644V26.4827C4.7736 27.0924 5.26693 27.5867 5.87582 27.5867H15.5869C15.8918 27.5867 15.9727 27.3396 15.9727 27.0347V14.3822C15.9727 11.2293 19.962 9.86133 21.8972 12.3502L27.946 20.1307V5.51733C27.946 4.90756 28.0029 4.41422 27.394 4.41422H5.87671Z"
          fill="url(#paint1_linear_61_621)"
          fill-opacity="0.4"
        />
        <path
          d="M26.8421 0C29.8892 0 32.3594 2.47019 32.3594 5.51733V23.3484C32.3594 26.5004 28.3701 27.8684 26.4359 25.3804L20.387 17.5991V27.0347C20.387 29.7769 18.1639 32 15.4216 32C15.5678 32 15.708 31.9419 15.8113 31.8386C15.9147 31.7352 15.9727 31.5951 15.9727 31.4489V14.3822C15.9727 11.2293 19.9621 9.86133 21.8972 12.3502L27.9461 20.1307V1.10311C27.9461 0.494222 27.4519 0 26.8421 0Z"
          fill="#3B3A3A"
        />
        <path
          d="M54.3024 9.42219V17.792L46.1869 9.42219H41.9629V23.1111H45.8153V14.1155L54.6544 23.1111H58.1549V9.42219H54.3024ZM65.2962 20.0604V17.6355H73.9202V14.7217H65.2962V12.4729H75.7584V9.42219H61.3656V23.1111H75.9736V20.0604H65.2962ZM86.2109 23.5609C91.6278 23.5609 95.1478 20.9013 95.1478 16.2666C95.1478 11.632 91.6278 8.97241 86.2109 8.97241C80.794 8.97241 77.2936 11.632 77.2936 16.2666C77.2936 20.9013 80.794 23.5609 86.2109 23.5609ZM86.2109 20.3146C83.1993 20.3146 81.3416 18.848 81.3416 16.2666C81.3416 13.6853 83.2189 12.2186 86.2109 12.2186C89.2224 12.2186 91.0802 13.6853 91.0802 16.2666C91.0802 18.848 89.2224 20.3146 86.2109 20.3146ZM109.914 9.42219V17.792L101.798 9.42219H97.5745V23.1111H101.427V14.1155L110.266 23.1111H113.766V9.42219H109.914Z"
          fill="#3B3A3A"
        />
        <defs>
          <linearGradient
            id="paint0_linear_61_621"
            x1="3200.36"
            y1="3200"
            x2="386.581"
            y2="-0.000105073"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#62F755" />
            <stop offset="1" stop-color="#8FF986" stop-opacity="0" />
          </linearGradient>
          <linearGradient
            id="paint1_linear_61_621"
            x1="3200.36"
            y1="3200"
            x2="1299.65"
            y2="2460.71"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-opacity="0.9" />
            <stop offset="1" stop-color="#1A1A1A" stop-opacity="0" />
          </linearGradient>
        </defs>
      </svg>
    </div>
    <!-- <div
      class="border border-yellow-400 flex | items-center | justify-center | p-4"
    >
      
    </div> -->
  </section>
</main>
