
<!-- Content of Milestone-->

<div class="flex | flex-col | text-left | font-inter | text-white">
    <h1 class="text-[36px] | font-bold pb-[20px]">
        <%= milestoneInformation.headline %>
    </h1>
    <p class="text-[16px] | leading-[22px]">
      <%= milestoneInformation.description %>
    </p>
</div>